<template>
  <MemorySettings
    v-if="settings_open"
    :decks="decks"
    :initial_cards_content_types="cards_content_types"
    :deck_content_names="deck_content_names"
    :initial_max_pairs="max_pairs"
    :initial_deck_name="deck_name"
    :initial_analytics_enabled="analytics_enabled"
    @set_settings="set_settings"
  />
  <MemoryBoard
    v-if="!settings_open"
    :deck="deck"
    :cards_content_types="cards_content_types"
    :max_pairs="max_pairs"
    :key="game_number"
  />
  <button
    v-if="!settings_open"
    class="pretty_button top_left"
    @click="settings_open = true"
  >
    Einstellungen
  </button>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { bootstrap, event } from 'vue-gtag'
import MemoryBoard from '../components/Board.vue'
import MemorySettings from '../components/Settings.vue'

export interface Decks {
  [key: string]: string;
}

export interface CardContents {
  front: string;
  back: string;
}

export type ContentType = 'text' | 'img';

export interface Side {
  content_type: ContentType;
  content: string;
}

export interface Pair {
  [key: string]: Side;
}

export interface Deck {
  [key: string]: Pair;
}

export interface MemoryCardType {
  id: number;
  pair_name: string;
  front: Side;
  back: Side;
  opened: boolean;
  matched: boolean;
}

export default defineComponent({
  name: 'MainMemory',
  components: {
    MemoryBoard,
    MemorySettings
  },
  created () {
    this.$router.isReady().then(() => {
      this.read_settings_from_query()
      if (this.deck_name) {
        this.get_deck(this.decks[this.deck_name])
      }
    })
  },
  methods: {
    read_settings_from_query () {
      const params = this.$route.query
      this.analytics_enabled =
        params.analytics_enabled && typeof params.analytics_enabled === 'string'
          ? params.analytics_enabled === 'true'
          : false

      if (this.analytics_enabled) {
        bootstrap()
      }

      if (!params.decks) {
        this.$router.push({
          name: 'No Deck',
          query: params
        })
      }
      this.decks =
        params.decks && typeof params.decks === 'string'
          ? JSON.parse(params.decks)
          : []
      this.max_pairs =
        params.max_pairs && typeof params.max_pairs === 'string'
          ? parseInt(params.max_pairs)
          : Infinity
      this.deck_name =
        params.deck_name && typeof params.deck_name === 'string'
          ? params.deck_name
          : ''
      this.cards_content_types =
        params.cards_content_types &&
        typeof params.cards_content_types === 'string'
          ? JSON.parse(params.cards_content_types)
          : [{}, {}]
      if (this.deck_name && this.cards_content_types[0]) {
        this.settings_open = false
      }
    },
    display_fetch_error: function (response: Response) {
      if (!response.ok) {
        const error = Error(response.statusText)
        console.log(response.url)
        console.log(error)
        alert('Error during fetch of ' + response.url + ':\n' + error)
      }
      return response
    },
    async get_deck (url: string) {
      event('get_deck', {
        url
      })
      this.deck = await fetch(url).then(
        this.display_fetch_error
      ).then((response) => response.json())
      this.deck_content_names = Object.keys(
        this.deck[Object.keys(this.deck)[0]]
      )
    },

    set_settings (settings: {
      deck_name: string;
      max_pairs: number;
      cards_content_types: CardContents[];
      analytics_enabled: boolean;
      close_settings: boolean;
    }) {
      this.deck_name = settings.deck_name
      this.max_pairs = settings.max_pairs
      this.cards_content_types = settings.cards_content_types
      this.get_deck(this.decks[this.deck_name])
      this.settings_open = !settings.close_settings
      if (this.analytics_enabled && !settings.analytics_enabled) {
        // if analytics was disabled by the user, reload the page to unload the gtag script
        this.analytics_enabled = settings.analytics_enabled
        window.location.reload()
      }
      this.analytics_enabled = settings.analytics_enabled
    }
  },
  data () {
    return {
      cards_content_types: [{}, {}] as CardContents[],
      max_pairs: Infinity,
      deck_name: '',
      decks: {} as Decks,
      settings_open: true,
      game_number: 0,
      deck: {} as Deck,
      deck_content_names: [] as string[],
      analytics_enabled: false
    }
  }
})
</script>
