<template>
  <div
    class="board"
    :class="{
      'grid-4': col_count === 4,
      'grid-5': col_count === 5,
      'grid-6': col_count === 6,
      'grid-7': col_count === 7,
      'grid-8': col_count === 8,
    }"
  >
    <transition-group name="cards" tag="div">
      <MemoryCard
        v-for="(card, index) in cards"
        :key="card.id"
        :opened="card.opened"
        :matched="card.matched"
        :front="card.front"
        :back="card.back"
        @click="flip_card(index)"
        @set_details="set_details"
      />
    </transition-group>
  </div>
  <button
    v-if="!settings_open"
    class="pretty_button top_right"
    @click="parse_deck(deck)"
  >
    Mischen
  </button>
  <div
    v-if="'content' in details_content"
    class="details_background"
    @click="set_details({})"
  >
    <!-- <img :src="details_content.content" class="details_content" /> -->
    <ImgCardSide v-if="details_content.content_type === 'img'" :content="details_content.content" class="details_content" />
    <TextCardSide v-else-if="details_content.content_type === 'text'" :content="details_content.content" :max_font_size="50" class="details_content" />

  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import MemoryCard from './Card.vue'
import { CardContents, Deck, MemoryCardType, Side } from '../views/Main.vue'
import TextCardSide from './TextCardSide.vue'
import ImgCardSide from './ImgCardSide.vue'
import { event } from 'vue-gtag'

export default defineComponent({
  name: 'MemoryBoard',
  components: {
    MemoryCard, TextCardSide, ImgCardSide
  },
  data () {
    return {
      opened_indices: [] as number[],
      cards: {} as MemoryCardType[],
      col_count: 5,
      details_content: {} as Side
    }
  },
  props: {
    cards_content_types: {
      type: Array as PropType<CardContents[]>,
      required: true
    },
    deck: {
      type: Object as PropType<Deck>,
      required: true
    },
    max_pairs: {
      type: Number,
      default: Infinity
    }
  },
  methods: {
    flip_card (index: number): void {
      event('flip_card')
      if (this.cards[index].matched) {
        this.cards[index].opened = !this.cards[index].opened
        return
      }
      if (this.opened_indices.length === 2) {
        this.cards[this.opened_indices[0]].opened = false
        this.cards[this.opened_indices[1]].opened = false
        this.opened_indices = []
      } else if (!this.opened_indices.length) {
        this.opened_indices.push(index)
        this.cards[index].opened = true
      } else if (!this.opened_indices.includes(index)) {
        // open the card, if it's not already open
        this.opened_indices.push(index)
        this.cards[index].opened = true
        if (
          this.cards[this.opened_indices[0]].pair_name ===
          this.cards[this.opened_indices[1]].pair_name
        ) {
          // if the cards match, mark them as matched an "closed"
          this.cards[this.opened_indices[0]].matched = true
          this.cards[this.opened_indices[1]].matched = true
          this.opened_indices = []
        }
      }
    },
    get_col_count (cards: MemoryCardType[]): number {
      if (cards.length <= 4 * 4) {
        return 4
      } else if (cards.length <= 5 * 4) {
        return 5
      } else if (cards.length <= 6 * 4) {
        return 6
      } else if (cards.length <= 7 * 4) {
        return 7
      } else {
        return 8
      }
    },
    parse_deck (deck: Deck) {
      const new_cards: MemoryCardType[] = []
      let i = 0
      let random_subset = Object.keys(deck)
      if (this.max_pairs < random_subset.length) {
        random_subset = this.shuffle(random_subset).slice(0, this.max_pairs)
      }

      for (const pair of random_subset) {
        for (let card = 0; card < 2; card++) {
          const new_card: MemoryCardType = {
            id: i,
            pair_name: pair,
            front: {
              content_type:
                deck[pair][this.cards_content_types[card].front].content_type,
              content: deck[pair][this.cards_content_types[card].front].content
            },
            back: {
              content_type:
                deck[pair][this.cards_content_types[card].back].content_type,
              content: deck[pair][this.cards_content_types[card].back].content
            },
            opened: false,
            matched: false
          }
          new_cards.push(new_card)
          i += 1
        }
      }
      this.col_count = this.get_col_count(new_cards)
      this.cards = this.shuffle(new_cards)
    },
    shuffle (deck: Array<any>) {
      event('shuffle')

      let currentIndex: number = deck.length
      let randomIndex: number

      // While there remain elements to shuffle...
      while (currentIndex !== 0) {
        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex)
        currentIndex--;

        // And swap it with the current element.
        [deck[currentIndex], deck[randomIndex]] = [
          deck[randomIndex],
          deck[currentIndex]
        ]
      }
      return deck
    },
    set_details (content: any) {
      this.details_content = content
    }
  },
  watch: {
    deck: {
      handler (deck: Deck) {
        this.parse_deck(deck)
      },
      immediate: true
    }
  }
})
</script>

<style lang="scss">
@import "@/scss/_variables.scss";

.board > div {
  display: grid;
  gap: 10px;
  margin: 20px;
}

.grid-4 > div {
  grid-template-columns: repeat(4, 200px);
}

.grid-5 > div {
  grid-template-columns: repeat(5, 200px);
}

.grid-6 > div {
  grid-template-columns: repeat(6, 200px);
}

.grid-7 > div {
  grid-template-columns: repeat(7, 200px);
}

.grid-8 > div {
  grid-template-columns: repeat(8, 200px);
}

.details_content {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

img.details_content {
  min-width: 180*4px;
  min-height: 180*4px;
  background-color: var(--card_color);
}

.details_content.text {
    background-color: var(--card_color);
    width: 600px;
    height: 600px;

    > div {
      padding: 30px;
    }
  }

.details_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow_color);
}

.cards-move {
  transition: transform 1s;
}
</style>
