<template>
  <div class="flip-card card">
    <div class="flip-card-inner" :class="{ flipped: opened }">
      <div class="flip-card-back" :class="{ matched: matched }">
        <CardSide :content="back.content" :content_type="back.content_type" @set_details="set_details"/>
      </div>
      <div class="flip-card-front" :class="{ matched: matched }">
        <CardSide :content="front.content" :content_type="front.content_type" @set_details="set_details"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { Side } from '../views/Main.vue'
import CardSide from './CardSide.vue'

export default defineComponent({
  name: 'MemoryCard',
  components: {
    CardSide
  },
  props: {
    back: Object as PropType<Side>,
    front: Object as PropType<Side>,
    opened: Boolean,
    matched: Boolean
  },
  emits: ['set_details'],
  methods: {
    set_details (content: any): void {
      this.$emit('set_details', content)
    }
  }
})
</script>

<style lang='scss'>
@import "@/scss/_variables.scss";

.card {
  height: 200px;
  width: 200px;
}

.matched {
  outline: 4px solid var(--card_mached_color);
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 20px var(--shadow_color);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--card_color);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-card-front {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.flip-card-front > div,
.flip-card-back > div {
  max-height: 200px;
  max-width: 200px;
}

</style>
