<template>
    <div v-if="content_type === 'text'">
        <TextCardSide :content="content" />
    </div>
    <div v-else-if="content_type === 'img'" class="center-image">
        <ImgCardSide :content="content" />
    </div>
    <div @click.stop="$emit('set_details', {'content': content, 'content_type': content_type})" style="display: contents">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi-fullscreen" viewBox="0 0 16 16">
            <path d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z"/>
        </svg>
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { ContentType } from '../views/Main.vue'
import TextCardSide from './TextCardSide.vue'
import ImgCardSide from './ImgCardSide.vue'

export default defineComponent({
  name: 'CardSide',
  components: {
    TextCardSide,
    ImgCardSide
  },
  props: {
    content: String,
    content_type: String as PropType<ContentType>
  },
  emits: ['set_details']
})
</script>

<style lang='scss'>
@import "@/scss/_variables.scss";

.bi-fullscreen {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  filter: drop-shadow(1px 1px 0 black);

  path {
    fill: white;
  }
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
