<template>
  <img
    :src="content"
    @error="show_img_webp_error"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ImgCardSide',
  props: {
    content: String
  },
  methods: {
    show_img_webp_error (): void {
      alert(
        'Either at least one image is missing or you are using a browser that does not support the webp image format. Supported browsers:\n- Firefox\n- Chromium based browsers: Chrome, Opera, Edge\n- Safari version 14+\n\nIf you are using a browser that does not support the webp image format, please use a different browser.'
      )
    }
  }
})
</script>

<style lang='scss'>
@import "@/scss/_variables.scss";

.card img {
  object-fit: contain;
}

.card img {
  max-width: calc(100% - 0px);
  max-height: calc(100% - 0px);
  margin: 0px;
}
</style>
