<template>
  <div id="settings">
    <h1>Einstellungen</h1>
    <h2>Deck</h2>
    <select
      name="deck_selector"
      id="deck_selector"
      v-model="deck_name"
      @change="set_settings(false)"
    >
      <option v-for="name in Object.keys(decks)" :value="name" :key="name">{{ name }}</option>
    </select>

    <div v-if="deck_content_names.length" style="display: contents">
      <h3>Maximal Anzahl an Kartenpaaren</h3>
      <div class="content-menu">
        <input
          class="rdc"
          v-model="max_pairs"
          type="radio"
          name="max_pairs"
          id="max_pairs_8"
          :value="8"
        />
        <label class="rdl" for="max_pairs_8"> 8 </label>

        <input
          class="rdc"
          v-model="max_pairs"
          type="radio"
          name="max_pairs"
          id="max_pairs_12"
          :value="12"
        />
        <label class="rdl" for="max_pairs_12"> 12 </label>

        <input
          class="rdc"
          v-model="max_pairs"
          type="radio"
          name="max_pairs"
          id="max_pairs_16"
          :value="16"
        />
        <label class="rdl" for="max_pairs_16"> 16 </label>

        <input
          class="rdc"
          v-model="max_pairs"
          type="radio"
          name="max_pairs"
          id="max_pairs_infinity"
          :value="Infinity"
        />
        <label class="rdl" for="max_pairs_infinity"> Unbegrenzt </label>
      </div>

      <div v-for="(card, index) in cards_content_types" :key="index">
        <h2>Karte {{ index + 1 }}</h2>
        <h3>Rückseite</h3>
        <div class="content-menu">
          <div
            v-for="content_name in deck_content_names"
            :key="content_name"
            style="display: contents"
          >
            <input
              class="rdc"
              v-model="card.back"
              type="radio"
              :name="'card' + index.toString() + '_back'"
              :id="'card' + index.toString() + '_back' + content_name"
              :value="content_name"
            />
            <label class="rdl" :for="'card' + index.toString() + '_back' + content_name">{{
              content_name
            }}</label>
          </div>
        </div>

        <h3>Vorderseite</h3>
        <div class="content-menu">
          <div
            v-for="content_name in deck_content_names"
            :key="content_name"
            style="display: contents"
          >
            <input
              class="rdc"
              v-model="card.front"
              type="radio"
              :name="'card' + index.toString() + '_front'"
              :id="'card' + index.toString() + '_front' + content_name"
              :value="content_name"
            />
            <label class="rdl" :for="'card' + index.toString() + '_front' + content_name">{{
              content_name
            }}</label>
          </div>
        </div>
      </div>
      <br /><br />
      <h3>Analytics</h3>
      <p>
        Wir verwenden Google Analytics, um besser verstehen zu können, wie du dieses Tool
        verwendest. Für die wissenschaftliche Auswertung bitten wir darum, die Analytics an zu
        lassen.
      </p>
      <div class="content-menu">
        <input
          class="rdc"
          v-model="analytics_enabled"
          type="radio"
          name="analytics_enabled"
          id="analytics_enabled"
          :value="true"
        />
        <label class="rdl" for="analytics_enabled"> Enabled </label>
        <input
          class="rdc"
          v-model="analytics_enabled"
          type="radio"
          name="analytics_enabled"
          id="analytics_disabled"
          :value="false"
        />
        <label class="rdl" for="analytics_disabled"> Disabled </label>
      </div>
      <button class="pretty_button top_left" @click="set_settings(true)">
        Einstellungen Speichern
      </button>
      <button class="pretty_button top_right" @click="copy_game_link">
        Link zu diesem Spiel kopieren
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { Decks, CardContents } from '../views/Main.vue'

export default defineComponent({
  name: 'MemorySettings',
  data () {
    return {
      cards_content_types: [] as CardContents[],
      max_pairs: Infinity,
      deck_name: '',
      analytics_enabled: false
    }
  },
  props: {
    opened: Boolean,
    initial_cards_content_types: {
      type: [] as PropType<CardContents[]>,
      required: true
    },
    initial_max_pairs: {
      type: Number,
      default: Infinity
    },
    initial_deck_name: {
      type: String,
      required: true
    },
    deck_content_names: {
      type: [] as PropType<string[]>,
      default: () => []
    },
    decks: {} as PropType<Decks>,
    initial_analytics_enabled: {
      type: Boolean,
      required: true
    }
  },
  emits: ['set_settings'],
  mounted () {
    this.cards_content_types = [{} as CardContents, {} as CardContents]
    for (let i = 0; i < this.initial_cards_content_types.length; i++) {
      if (this.deck_content_names.includes(this.initial_cards_content_types[i].front)) {
        this.cards_content_types[i].front = this.initial_cards_content_types[i].front
      }
      if (this.deck_content_names.includes(this.initial_cards_content_types[i].back)) {
        this.cards_content_types[i].back = this.initial_cards_content_types[i].back
      }
    }

    this.max_pairs = this.initial_max_pairs
    this.deck_name = this.initial_deck_name
    this.analytics_enabled = this.initial_analytics_enabled
  },
  methods: {
    check_content_types (content_types: CardContents[]): boolean {
      for (let i = 0; i < content_types.length; i++) {
        if (!this.deck_content_names.includes(content_types[i].front)) {
          return false
        }
        if (!this.deck_content_names.includes(content_types[i].back)) {
          return false
        }
      }
      return true
    },
    async set_settings (close_settings: boolean) {
      await this.update_link()
      this.$emit('set_settings', {
        cards_content_types: this.cards_content_types,
        max_pairs: this.max_pairs,
        deck_name: this.deck_name,
        analytics_enabled: this.analytics_enabled,
        close_settings: close_settings && this.check_content_types(this.cards_content_types)
      })
    },
    async update_link () {
      const query = Object.assign({}, this.$route.query)
      query.deck_name = this.deck_name
      query.max_pairs = this.max_pairs.toString()
      query.cards_content_types = JSON.stringify(this.cards_content_types)
      query.analytics_enabled = this.analytics_enabled.toString()
      await this.$router.push({ query })
    },
    async copy_game_link () {
      await this.update_link()
      navigator.clipboard.writeText(window.location.href)
    }
  }
})
</script>

<style lang="scss">
@import "@/scss/_variables.scss";

.rdc {
  display: none;
}

.rdl {
  background-color: var(--button_color);
  border: none;
  padding: 10px 20px;
  color: var(--text_color);
  font-size: 1.5em;
  box-shadow: 0px 0px 20px var(--shadow_color);
  border: 1px solid var(--button_color_hover);
}

.rdl:hover {
  background-color: var(--button_color_hover);
}

.rdl:active {
  outline: 2px solid var(--button_color_hover);
}

.rdc:checked + .rdl {
  background-color: var(--button_color_hover);
}

.content-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#settings {
  max-width: 600px;
}

</style>
