<template>
  <div
    ref="text_container"
    class="text"
    :style="{ fontSize: font_size + 'px' }"
  >
    <VueShowdown :markdown="content" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TextCardSide',
  data () {
    return {
      font_size: this.max_font_size
    }
  },
  props: {
    content: String,
    max_font_size: {
      type: Number,
      default: 12.0
    }
  },
  methods: {
    is_overflown (): boolean {
      const element = this.$refs.text_container as any
      return (
        element.scrollHeight > element.clientHeight ||
        element.scrollWidth > element.clientWidth
      )
    },
    scale_font (i: number, prev_change: number): void {
      if (i < 10 || this.is_overflown()) {
        const change = prev_change / 2
        if (this.is_overflown()) {
          this.font_size -= change
        } else {
          const new_size = this.font_size + change
          if (new_size >= this.max_font_size) {
            this.font_size = this.max_font_size
            return
          } else {
            this.font_size = new_size
          }
        }
        this.$nextTick(function () {
          this.scale_font(i + 1, change)
        })
      }
    }
  },
  mounted (): void {
    this.scale_font(0, this.max_font_size)
  }
})
</script>

<style lang='scss'>
@import "@/scss/_variables.scss";

.card .text {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  margin: 10px;
}

.card .text {
  overflow: hidden;
}

.text ul,
.text ol {
  padding-left: 2ch;
  margin: 0.2em 0;
}

.text h1 {
  margin: 0.3em 0;
  // text-align: center;
}

.text h2 {
  // margin: 0.4em 0;
  margin-block-end: 0.2em;
  margin-block-start: 0.2em;
  // text-align: center;
}

.text h3 {
  // margin: 0.5em 0;
  margin-block-end: 0.2em;
  margin-block-start: 0.2em;
  // text-align: center;
}

.text h4 {
  // margin: 0.5em 0;
  margin-block-end: 0.2em;
  margin-block-start: 0.2em;
  // text-align: center;
}

.text h5 {
  // margin: 0.5em 0;
  margin-block-end: 0.2em;
  margin-block-start: 0.2em;
  // text-align: center;
}

.text p {
  margin-block-end: 0.2em;
  margin-block-start: 0.2em;
}

.text_center {
  text-align: center;
}
</style>
