<template>
  <router-view></router-view>

  <a class="bottom_right" href="https://gitlab.com/McToel/edury" target="_blank"
    ><img style="height: 80px" src="gitlab-logo.svg" alt=""
  /></a>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'App'
})
</script>

<style lang="scss">
@import "@/scss/_variables.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text_color);
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body, #app {
  min-height: 100vh;
  margin: 0;
  background-color: var(--background_color);
}

.top_left {
 position: fixed;
 top: 10px;
 left: 10px;
}

.top_right {
 position: fixed;
 top: 10px;
 right: 10px;
}

.bottom_right {
 position: fixed;
 bottom: 10px;
 right: 10px;
}

.pretty_button {
  background-color: var(--button_color);
  border: none;
  padding: 10px 20px;
  color: var(--text_color);
  font-size: 1.3em;
  box-shadow: 0px 0px 20px var(--shadow_color);
}

.pretty_button:hover {
  background-color: var(--button_color_hover);
}

.pretty_button:active {
  outline: 2px solid var(--button_color_hover);
}

.mg-r {
  margin-right: 15px;
}

</style>
