:root {
    // --background_color: lightgrey;
    --background_color: white;
    --card_color: white; //#B97375;
    --card_color_hover: #c2c2c2;
    --button_color: white; //#B97375;
    --button_color_hover: #c2c2c2;
    --text_color: black; //#FFF8F0;
    --card_mached_color: #60935D;
    --shadow_color: rgba(0, 0, 0, 0.5);
    --color5: #BFD7EA;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background_color: #3d3d3d;
        --card_color: #955e60; //#B97375;
        --card_color_hover: #7C4547;
        --button_color: #955e60; //#B97375;
        --button_color_hover: #7C4547;
        --text_color: white; //#FFF8F0;
        --card_mached_color: #60935D;
        --shadow_color: rgba(0, 0, 0, 0.5);
        --color5: #BFD7EA;
    }
}